body {
	background-color:  #f8f8f8;
	margin: 0;

}
 #heading {
 	margin: 10px;
 	padding: 20px 30px 50px 50px;
 	width: auto;
 	height: 200px;
 }
  .logo {
  	float: left;
  }
  #menu {
  	width: auto;
  	height: 30px;
  	list-style: none;
  	list-style-position: inside;
  	display: inline-block;
  	text-decoration: none;
  	color: #6E828A;
	padding: 20px 30px;
	text-decoration: none;
	border: solid 0.5px;
}

#menu li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
}

#menu a {
	color: #b2b2b2;
}
/*  
The HTML <h1>–<h6> elements represent six levels of section headings. <h1> is the highest section level and <h6> is the lowest.
They no nead to have width, backround can be,but ~~ . Instead of this give this styles to parent of h1
*/
/* h1 {
	background: transparent url(aboutus.png);
	color: #7e7e7e;
	width: 1030px;
} */
